body{
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    font-family: 'Passion One', cursive;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}
body .main{
    padding-top: 150px;
}
/* #region Barra de menú */
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header{
    background: #000;
    padding: 2rem 0;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a{
    text-decoration: none;
}
img[src="src/logo1.png"]{
    display: inline-flex;    
    width: 70px;
    height: auto;
}
.a{
    color: #000;
}
.logo-nav-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    color: #008FF3 ;
    letter-spacing: 5px;
    font-size: 30px;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li a{
    font-size: 20px;
    display: block;
    padding: 0.5rem 1rem ;
    transition: all 0.4s linear;
    border-radius: 10px ;
}
.navigation ul li a:hover{
    background:  rgba(0, 0, 0, .8);
    color: #fff;
}
.icono{
    display: block;
    animation: moverIzquierda 1s ease-in;
    z-index: 100;
}
.enlaces{
    position: fixed;
    display: flex;
    top: 115px;
    justify-content: space-around;
    align-items: center;
    height: auto;
    left: 50%;
    right: 50%;
    flex-direction: column;
    width: auto;
    transition: all 1s ease;
    background: rgba(0, 0, 0, .0);
    border-radius: 10px;
    padding: 5px;
}
.uno{
    -webkit-clip-path: circle(140.9% at 0 0);
    clip-path: circle(0% at 0 0);
}
.dos{
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}
.menu{
    width: 40px;
    height: auto;
}
/* #endregion */
/* #region Footer */
footer{
    width: 100%;
    background: #202020;
    color: #fff;
    margin-top: 7%;
}
.continer-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px; 
}
.container-Body{
    display: flex;
}
.col1{
    max-width: 400px;
    padding-left: 20px;
}
.col h1{
    font-size: 20px;
}
.col1 p{
    font-size: 1.3rem;
    color: #c7c7c7;
    margin-top: 20px;
}
.col2{
    max-width: 400px;
    margin-left: 300px;
}
.col2 h1{
    font-size: 35px;
}
.row{
    font-size: 1.3rem;
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row a{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}
.container-footer{
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 13px;
    padding-left: 30px;
}
.copyrigth{
    font-size: 1.1rem;
    color: #c7c7c7;
}
/* #endregion */
/* #region loader */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader{
    background: rgba(155, 155, 155, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 100000;
    clip-path: circle(100% at 50% 50%);
    transition: clip-path 0.3s ease-in-out;
}
.loader2{
    clip-path: circle(0.0% at 50% 50%);
}
/* #endregion */
/* #region Secciones */
html{
    scroll-behavior: smooth;
}
section{
    color: #1B2FB3 ;
    height: 650px;
    display: flex;
    justify-content: space-evenly;
    padding: 0 40px;
    align-items: center;
}
section h2{
    text-align: center;
    font-size: 70px;
    font-weight: 500px;
    margin-bottom: 5px;
}
section p{
    text-align: center;
    font-size: 30px;
    font-weight: 300px;
    margin-bottom: 15px;
}
section a img{
    display: inline-block;
    width: 70px;
    margin-left: 250px;
    margin-top: 70px;
    border-radius: 53px;
    box-shadow: #000 0 7px 10px ;
}
section img{
    height: 60%;
}
section iframe{
    box-shadow: 10px 10px 10px 10px #000;
    animation: aparecer 1s ease-in;
    height: 50%;
    width: 50%;
}
section:nth-child(2){
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}
section:nth-child(3){
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
}
img{
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverAbajo 1s ease-in;
}
.up img{
    transform: rotate(-180deg);
}
section h4{
    text-align: center;
    font-size: 20px;
}
section h1{
    text-decoration: underline;
    font-size: 30px;
}
section ul{
    margin: 0;
    font-size: 25px;
}
section .lineaBlanca{
    float: left;
}
section .construccion{
    float: right;
}
.reparar{
    /* margin-top: 0; */
    text-align: center;
}
.up2{
    margin-left: 100px;
}
/* #endregion */