body{
    background: #7F7FD5;
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

    font-family: 'Passion One', cursive;
    color: #333;
    font-size: 1.3rem;
    margin: 0;
}
body main{
    padding-top: 150px;
    margin: 0 100px;
}
/* #region Barra de menú */
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.header{
    background: #000;
    padding: 2rem 0;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.header a{
    text-decoration: none;
}
img[src="src/logo1.png"]{
    display: inline-flex;    
    width: 70px;
    height: auto;
}
.a{
    color: #fff;
}
.logo-nav-conatiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Logo{
    color: #008FF3 ;
    letter-spacing: 5px;
    font-size: 30px;
}
.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem ;
    transition: all 0.4s linear;
    border-radius: 10px ;
}
.navigation ul li a:hover{
    background:  rgba(255, 255, 255, 0.8);
    color: #000;
}
.icono{
    display: block;
    animation: moverIzquierda 1s ease-in;
    z-index: 100;
}
.enlaces{
    position: fixed;
    display: flex;
    top: 115px;
    justify-content: space-around;
    align-items: center;
    height: auto;
    /* left: 50%; */
    right: 10%;
    flex-direction: column;
    width: auto;
    transition: all .9s ease;
    background: rgba(0, 0, 0, .7);
    border-radius: 10px;
    padding: 5px;
}
.uno{
    -webkit-clip-path: circle(140.9% at 0 0);
    clip-path: circle(0% at 0 0);
}
.dos{
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}
.menu{
    width: 40px;
    height: auto;
}
/* #endregion */
/* #region cuerpo */
.body{
    color: #fff;
}
.containera{
    width: 80%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    text-align: center;
}
.containera a{
    display: inline-block;
    padding: 7px 0;
    color: #000;
    text-decoration: none;
    width: 100px;
    text-align: center;
    border: 1px solid #FF0201;
    border-radius: 50px;
    background: #FF0201;
}
img{
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
    animation: moverAbajo 1s ease-in;
}
.textos{
    width: 50%;
    color: #092980;
}
.textos h1{
    font-size: 80px;
    animation: moverDerecha 1s ease-in;
}
.textos h2{
    font-size: 30px;
    text-transform: uppercase;
    animation: moverIzquierda 1s ease-in;
}
.textos a{
    display: inline-block;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    margin-top:30px;
    border: 1px solid #FF0201;
    width: 100px;
    text-align: center;
    padding: 10px;
    box-shadow: #000 0 7px 10px ;
}
/* #endregion */
/* #region Pie de página */
footer{
    width: 100%;
    background: #202020;
    color: #fff;
    margin-top: 7%;
}
.continer-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px; 
}
.container-Body{
    display: flex;
}
.col1{
    max-width: 400px;
    padding-left: 20px;
}
.col h1{
    font-size: 20px;
}
.col1 p{
    font-size: 1.3rem;
    color: #c7c7c7;
    margin-top: 20px;
}
.col2{
    max-width: 400px;
    margin-left: 300px;
}
.col2 h1{
    font-size: 35px;
}
.row{
    font-size: 1.3rem;
    margin-top: 20px;
    display: flex;
}
.row img{
    width: 36px;
    height: 36px;
}
.row a{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
}
.container-footer{
    background: #101010;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 13px;
    padding-left: 30px;
}
.copyrigth{
    font-size: 1.1rem;
    color: #c7c7c7;
}
/* #endregion */
/* #region loader */
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #000 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loader{
    background: rgba(155, 155, 155, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 100000;
    clip-path: circle(100% at 50% 50%);
    transition: clip-path 0.3s ease-in-out;
}
.loader2{
    clip-path: circle(0.0% at 50% 50%);
}
/* #endregion */
/* #region Responsivas */
@media screen and (max-width:855px){
    img{
        height: 400px;
    }
    .textos h1{
        font-size: 3em;
    }
    .textos h2{
        font-size: 1em;
    }
    .col1 h1{
        font-size: 1.5em;
    }
    .col2 h1{
        font-size: 1.5em;
    }
    .col1 p{
        font-size: .8em;
    }
    .row{
        font-size: .8em;
    }
    .copyrigth{
        font-size: 1.3em;
    }
}
@media  screen and (max-width: 970px){
    .enlaces{
        right: 0;
    }
}
@media screen and (max-width: 870px){
    img{
        height: 350px;
    }
}
@media screen and (max-width: 743px){
    img{
        height: 300px;
    }
    .col1 h1{
        font-size: 1.5rem;
    }
    .col2 h1{
        font-size: 1.5rem;
    }
    .col1 p{
        font-size: .8em;
    }
    .row{
        font-size: .8em;
    }
}
@media screen and (max-width: 670px){
    img{
        height: 280px;
    }
}
@media screen and (max-width: 650px){
    .textos h1{
        font-size: 3rem;
    }
    .textos h2{
        font-size: 1.2rem;
    }
    .col2{
        margin-left: 200px;
    }
}
@media screen and (max-width: 590px){
    .main{
        margin: 0;
    }
    img{
        height: 200px;
    }
    .col2{
        margin-left: 150px;
    }
    .enlaces{
        font-size: 1.2rem;
    }
    .textos a{
        font-size: 1.1rem;
        width: 80px;
        margin-top: 10px;
    }
}
@media screen and (max-width: 460px){
    img{
        height: 190px;
    }
    .textos h1{
        font-size: 2.3rem;
    }
    .textos h2{
        font-size: 1rem;
    }
    .col1 h1{
        font-size: 1.4rem;
    }
    .col1 p{
        font-size: .8rem;
    }
    .col2 h1{
        font-size: 1.4rem;
    }
    .col2 a{
        font-size: .8rem;
        margin-left: 10px;
    }
    .col2 img{
        width: 30px;
        height: 30px;
    }
    .col2{
        margin-left: 100px;
    }
    .textos a{
        font-size: 1rem;
        width: 70px;
    }
}
@media screen and (max-width: 410px){
    .main{
        padding-top: 90px;
        margin: 30px;
    }
}@media screen and (max-width: 380px){
    img{
        height: 150px;
    }
    .textos h1{
        font-size: 1.8rem;
    }
    .textos h2{
        font-size: .8rem;
    }
    .header img{
        width: 40px;
    }
    .icono img{
        width: 30px;
    }
    .header{
        height: 20px;
    }
    .enlaces{
        top: 80px;
        font-size: 1rem;
    }
    .col1 h1{
        font-size: 15px;
    }
    .col1 p{
        font-size: 10px;
    }
    .col2 a{
        font-size: 10px;
        margin-left: 5px;
    }
    .col2 img{
        width: 25px;
        height: auto;
    }
    .col2 h1{
        font-size: 15px;
    }
    .copyrigth{
        font-size: 12px;
    }
}
@media screen and (max-width: 290px){
    .Logo{
        font-size: 1.5rem;
    }
}
@media screen and (max-height: 640px){
    .main{
        margin-top: 100px;
    }
    footer{
        margin-top: 115px;
    }
}
@media screen and (max-height: 731px){
    footer{
        margin-top: 90px;
    }
}
@media screen and (max-height: 825px){
    footer{
        margin-top: 90px;
    }
}
@media screen and (max-height: 670px){
    .main{
        margin-top: 90px;
    }
    footer{
        margin-top: 127px;
    }
}
@media screen and (max-height: 815px){
    .main{
        margin-top: 90px;
    }
    footer{
        margin-top: 125px;
    }
}
/* #endregion */